/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";


body {

  /* background-color: #ffd128; */


  /* background-image: linear-gradient(30deg, #42413f, #251f07); */
  background-color: #42413f;
  background-image: url("backgroundimage-05.png");
    /* background-image: linear-gradient(60deg, #ffd128, #ffe584); */
}

nav {
  background-image: linear-gradient(-60deg, #ffd128, #ffe584);
  /* background-color: lightgrey; */
}

nav a {
  color: #251f07;
}

a:hover {
  color: white;
  text-decoration: none;
}

.navbar {
  position: relative;
  margin-bottom: 2px;
  border: 3px bottom solid black;
  height: 100px;
}

.navbar-text {
  margin-top: 25px;
  padding: 5px;
}

.navbar-text h4 {
  font-size: 24px;
  letter-spacing: 1px;
  color: black;
}

input[type="submit"] {
  background: #ffd128;
  color: white;
  font-family: gineso, sans-serif;
  border: solid 1px white;
  height: 80px;
  width: 300px;
  margin-top: 30px;
  font-size: 22px;
}

input[type="submit"]:hover {
    background-color: black;
}

label {
  font-size: 22px;
}

.cart {
  background: white;
  padding: 30px;
  width: 40%;
}

.cart-items {
  position: sticky;
  width: 50px;
  height: 50px;
  background: lightgrey;
}

.log-in {
  padding: 30px;
  width: 40%;
}

input[type="checkbox"] {
  height: 20px;
  width: 100%;
}

.log-in .field {
  display: block;
}

.alert {
  width: 50%;
}

.container-fluid {
  margin-left: 90px;
  margin-right: 90px;
}

.check-box {
  flex-direction: row;
  display: flex;
  width: 120px;
}
.check-box input {
  justify-content: flex-start;
}
