// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";


.cart-items {
  position: sticky;
  width: 50px;
  height: 50px;
  background: lightgrey;
}

.field {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  width: 90%;
}

input {
  height: 50px;
  width: 90%;
  border-radius: 7px;
}

div#intrumentPost {
  display: flex !important;
  flex-direction: row;
  justify-content: space-around;
}

.listing-form {
  background: #403f3c;
  width: 40%;
  color: white;
  font-size: 22px;
  padding: 60px;
}

.listing-help {
  background-color: white;
  width: 55%;
  padding: 55px;
}
.listing-help li {
  font-size: 22px;
}
