// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";


.cart-items {
  position: sticky;
  width: 50px;
  height: 50px;
  background: lightgrey;
}

.field {
  display: flex;
  flex-direction: column;
  width: 200px;
}

input {
  height: 40px;
  width: 300px;
  border-radius: 7px;
}

div#intrumentPost {
  display: flex !important;
  flex-direction: row;
  justify-content: space-around;
}

.listing-form {
  width: 200px;
}

.listing-help {
  width: 400px;
}
.listing-help li {
  font-size: 22px;
}
