// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";

.header-image {
  opacity: .2;
  height: 430px;
  width: 100%;
  background-image: url("header.png");
  max-width: 100%;
  // height: auto;
  background-repeat: no-repeat;
  background-size: cover;
}

.header-image h1 {
  opacity: .9;
  position: absolute;
  top: 55%;
  left: 41%;
  color: white;
  font-size: 60px;
  letter-spacing: 3px;
}

.cart-items {
  position: sticky;
  width: 50px;
  height: 50px;
  background: lightgrey;
}

.field {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  width: 90%;
}

.panel {
  background: none;
}

.panel-body {
  background: white;
  border: 3px solid #ffd128;
}

.product {
  background: white;
  padding: 30px;
  margin-top: 30px;
}

input {
  height: 50px;
  width: 90%;
  border-radius: 7px;
}

div#intrumentPost {
  display: flex !important;
  flex-direction: row;
  justify-content: space-around;
}

.listing-form {
  background: #403f3c;
  width: 40%;
  color: white;
  font-size: 22px;
  padding: 60px;
}

.listing-help {
  background-color: white;
  width: 35%;
}
.listing-help li {
  font-size: 22px;
}
